language: objective-c
osx_image: xcode8
script:
   - xcodebuild -project ELWebService.xcodeproj -scheme ELWebService -sdk iphonesimulator test -destination 'platform=iOS Simulator,name=iPhone 6,OS=10.0'
